<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Module</title>
</head>
<body>
    <div class="container-fluid p-5">
        <a class="btn btn-primary" href="/donors/create_donor" role="button">Medicine</a>
        <button type="button" class="btn btn-outline-danger">Prescription</button>
    </div>
</body>
</html>